html{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;}
main{display:block;}
a{background-color:transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
strong{font-weight:bolder;}
small{font-size:80%;}
img{border-style:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;appearance:textfield;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
[hidden]{display:none;}
p,ul,ol,dl,table,blockquote,pre,figure{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:1rem;}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0;}
ul,ol,dd{padding-left:1.75rem;}
dd{margin-left:0;}

/* KONEC OPTIMALIZACE */

:root
{
--b1:rgb(168,110,87); /* hnědá */
/* přechodové barvy */
--b2:rgb(168,151,87); /* hnědá - do béžova */
--b2_9:rgba(168,151,87,.95); /* hnědá - do béžova 95% krytí */
--b2_6:rgba(168,151,87,.6); /* hnědá - do béžova 60% krytí */
--b3:rgb(168,87,104); /* hnědá - do růžova */
--b4:rgb(87,168,110); /* zelená */
--b5:rgb(110,87,168); /* fialová */

/* dobrý kontrast: b2 a černá , b4 a černá */
/* dobrý kontrast: b5 a bílá */
}


@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"nadpis"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/nadpis.woff2") format("woff2 supports variations"),url("../font/nadpis.woff2") format("woff2-variations"),url("../font/nadpis.woff2") format("woff2"),url("../font/nadpis.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 900; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"text"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/text.woff2") format("woff2 supports variations"),url("../font/text.woff2") format("woff2-variations"),url("../font/text.woff2") format("woff2"),url("../font/text.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 700; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

*{-webkit-box-sizing:border-box;box-sizing:border-box;}

body
{
color:black;
background:black;
font-family:"text","Arial","Sans-Serif";
width:100%;
font-size:100%;
line-height:1;
margin:0;
}

article
{
contain:content;  /* prohlížeči dá instrukci, že prvky, které uživatel nevidí může vynechat z počítání stránky */
}

a,button
{
cursor:pointer;
}

button
{
font-weight:normal;
}

a,a:link,a:visited,a:active
{
color:black;
text-decoration:none;
}

p
{
font-size:1rem;
line-height:1.5;
}

h1,h2,h3,h4
{
margin-top:0;
margin-bottom:.5rem;
font-family:"nadpis",sans-serif;
-webkit-font-variant-ligatures:common-ligatures;
font-variant-ligatures:common-ligatures;
font-weight:normal;
letter-spacing:.01rem;
padding-top:2rem;
line-height:1.2;
}

h1,.hx
{
font-size:calc(3rem + 1vw);
font-weight:700;
}

h1 span
{
font-size:2rem;
margin:0 1rem;
}

h2
{
font-size:calc(1.5rem + 1vw);
}

h3
{
font-size:calc(1.25rem + 1vw);
}

/* > 1200 px */
@media only screen and (min-width:76em)
{
h1,.hx
{
font-size:5rem;
}
h2
{
font-size:2.5rem;
}
h3
{
font-size:2rem;
}}


.h-con
{
width:100%;
max-width:125rem;  /* 2000px */
background:var(--b2);
}

header
{
position:relative;
width:100%;
height:100vh;
min-height:460px;
padding:0 1rem;
}

.ibb
{
display:block;
}

.l-box
{
position:absolute;
top:0;
left:0;
width:100%;
height:100vh;
min-height:460px;
z-index:1;
}

.l-svg
{
width:100%;
max-width:60rem;
height:auto;
}


.l-p
{
background:var(--b2_9);
padding:1rem;
cursor:default;
border-radius:50%;
height:calc(8rem + 25vw);
width:calc(8rem + 25vw);
max-height:25rem;
max-width:25rem;
z-index:4;
border:calc(8px + 1vw) solid;
border-color:var(--b3) var(--b3) var(--b4) var(--b4);
}

.l-p p:first-child
{
font-family:"nadpis",sans-serif;
font-size:calc(2rem + 3vw);
font-weight:700;
text-wrap:nowrap;
line-height:1;
margin:0;
}

.l-p p:last-child
{
font-size:calc(1rem + 1vw);
}

/* 1200 px */ 
@media only screen and (min-width:75em)
{
.l-p
{
border:20px solid;
border-color:var(--b3) var(--b3) var(--b4) var(--b4);
}

.l-p p:first-child
{
font-size:5rem;
}

.l-p p:last-child
{
font-size:2rem;
}}

.h-n
{
position:absolute;
right:1rem;
bottom:0px;
z-index:5;
}

.h-n ol li
{
text-align:center;
background:var(--b2);
margin-bottom:1rem;
border:1px solid;
border-color:var(--b5) black black var(--b5);
border-radius:4px;
}

.h-n ol li a
{
line-height:.5;
margin-top:.2rem;
margin-bottom:0;
padding:1rem;
width:100%;
font-weight:700;
}

.menu
{
list-style-type:none;
}



/* NEKRITICKÉ PRVKY */



img
{
width:100%;
max-width:100%;
height:auto;
}

mark
{
background:rgba(87,168,110,.2);
}

.bM
{
width:100%;
max-width:75rem;
}

.n2
{
background:rgba(255,255,255,.7);
padding:1rem 1.5rem .5rem 1.5rem;
width:-moz-fit-content;
width:-webkit-fit-content;
width:fit-content;
border-radius:32px 32px 0 0;
border-bottom:4px solid var(--b3);
margin:1rem;
font-weight:800;
}

.o
{
width:100%;
max-width:400px;
height:auto;
margin:1rem;
border-top:2px solid;
margin-top:2rem;
border-radius:4px 4px 0 0;
}

figcaption
{
padding-top:.25rem;
line-height:1.25;
}

.r
{
display:block;
aspect-ratio:1/1;
}

.o1
{
border-color:var(--b5);
}

.o2
{
border-color:var(--b3);
}


@media only screen and (min-width:500px)
{
.o
{
max-width:800px;
}
.r
{
aspect-ratio:8/6;
}}

.kar
{
position:relative;
list-style-type:none;
display:grid;
gap:1rem;
margin:0;
width:100%;
max-width:64rem; /* 1024 px */
grid-template-columns:repeat(auto-fill,minmax(10rem,15rem));
padding:2rem 1rem;
cursor:default;
}



.kar li
{
display:-moz-grid;
display:grid;
place-items:center center;
text-align:center;
margin:0;
height:5rem;
line-height:2.25; /* zajistí centrování textu karty na střed, pokud se vleze do jednoho řádku, jinak u karty použít CLASS .lh1 */
font-size:1.25rem;
font-weight:700;
background:var(--b5);
color:white;
border-radius:6px 60px;
padding:1.25rem;
}


.kar li:last-child
{
position:absolute;
background:black;
z-index:-1;
top:calc(50% - 100%/2);
left:calc(50% - 80%/2);
width:40%;
height:100%;
-webkit-transform:translate(50%,0);
transform:translate(50%,0);
box-shadow:inset 5px -5px 5px rgb(30,30,30),inset -5px 5px 5px rgb(30,30,30),inset 5px 5px 5px rgb(30,30,30),inset -5px -5px 5px rgb(30,30,30);
}

/* 576 px */ 
@media only screen and (min-width:36em)
{
.kar li:last-child
{
left:calc(50% - 90%/2);
top:calc(50% - 100%/2);
height:50%;
width:90%;
-webkit-transform:translate(0,50%);
transform:translate(0,50%);
}}

.kar li.lh1 /* class se používá u karet, které jsou dvou řádkové a line-height:2 by způsobila příliš velké řádkovéní */
{
line-height:1.1;
}

@-webkit-keyframes opa
{
0%{opacity:0;}
100%{opacity:1;}
}

@keyframes opa
{
0%{opacity:0;}
100%{opacity:1;}
}

.op
{
-webkit-animation:opa 1s linear both paused;
animation:opa 1s linear both paused;
}


@-webkit-keyframes wh
{
0%{-webkit-transform:rotate(45deg) scaleX(0);transform:rotate(45deg) scaleX(0);}
100%{-webkit-transform:rotate(0deg) scaleX(1);transform:rotate(0deg) scaleX(1);}
}


@keyframes wh
{
0%{-webkit-transform:rotate(45deg) scaleX(0);transform:rotate(45deg) scaleX(0);}
100%{-webkit-transform:rotate(0deg) scaleX(1);transform:rotate(0deg) scaleX(1);}
}


.ao
{
-webkit-animation:wh .5s linear both paused;
animation:wh .5s linear both paused;
}


@-webkit-keyframes po
{
0%{-webkit-transform:translate(150%,0);transform:translate(150%,0);opacity:0;}
75%{-webkit-transform:translate(50%,0);transform:translate(50%,0);opacity:.3;}
100%{-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
}


@keyframes po
{
0%{-webkit-transform:translate(150%,0);transform:translate(150%,0);opacity:0;}
75%{-webkit-transform:translate(50%,0);transform:translate(50%,0);opacity:.3;}
100%{-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
}

.ap
{
-webkit-animation:po .5s linear both paused;
animation:po .5s linear both paused;
}

.re
{
margin:3rem 1rem 0 1rem;
}

.re p
{
font-family:"nadpis",sans-serif;
font-size:calc(2rem + 1vw);
text-align:center;
font-weight:900;
line-height:1;
margin-bottom:0;
}


.ul-a
{
gap:2rem;
flex-wrap:wrap;
-webkit-box-pack:space-evenly;
justify-content:space-evenly;
background:var(--b5);
padding:2rem 1rem;
color:white;
margin:3rem 0;
list-style-type:none;
}

.ul-a li
{
background:white;
margin-bottom:0rem;
width:100%;
border:1px dotted var(--b4);
border-radius:16px;
}

@media only screen and (min-width:28em)
{
.ul-a li
{
width:18rem;
}}

.ul-a li a
{
display:-webkit-box;
display:flex;
gap:.5rem;
height:5rem;
padding:.5rem;
}

.ba
{
width:2.5rem;
min-width:2.5rem;
padding-bottom:2.5rem;
align-self:center;
}

.bp
{
margin:auto;
}

.bp p
{
text-align:center;
margin-bottom:0;
}


/* CIHLOVITÉ POZADÍ Z SVG */



.bc1,.bc2,.bc3,.bc4,.bc5
{
display:block;
background-repeat:no-repeat;
background-size:500%;
margin:2rem 0;
}

.bc1
{
margin-bottom:0;
}

/* !!! MAX - 496 px */ 
@media only screen and (max-width:31em)
{
.bc1,.bc2,.bc3,.bc4,.bc5
{
background-image:url('../svg/z-415.svg');
aspect-ratio:415/85;
}}


/* 496 px */ 
@media only screen and (min-width:31em)
{
.bc1,.bc2,.bc3,.bc4,.bc5
{
background-image:url('../svg/z-815.svg');
aspect-ratio:815/85;
}}

/* 992 px */ 
@media only screen and (min-width:62em)
{
.bc1,.bc2,.bc3,.bc4,.bc5
{
background-image:url('../svg/z-1215.svg');
aspect-ratio:1215/85;
}}

/* 1200 px */ 
@media only screen and (min-width:75em)
{
.bc1,.bc2,.bc3,.bc4,.bc5
{
background-image:url('../svg/z-1615.svg');
aspect-ratio:1615/85;
}}

/* 1600 px */
@media only screen and (min-width:100em)
{
.bc1,.bc2,.bc3,.bc4,.bc5
{
background-image:url('../svg/z-2015.svg');
aspect-ratio:2015/85;
}}

.bc1{background-position:0 0;margin-top:0;}.bc2{background-position:25% 0;}.bc3{background-position:50% 0;}.bc4{background-position:75% 0;}.bc5{background-position:100% 0;}


/* konec - CIHLOVITÉ POZADÍ Z SVG */

.hx
{
padding:0 1rem 3rem 10%;
}

.pr
{
margin:0 2rem 2rem 2rem;
}

.pr div p
{
font-size:2rem;
font-weight:700;
}

.l-svg2
{
width:100%;
max-width:15rem;
height:auto;
}

/* 480 px */
@media only screen and (min-width:30em)
{
.pr
{
display:grid;
grid-template-columns:auto 1fr;
gap:2rem;
}}

.col,.col2
{
margin:3rem 2rem;
-webkit-columns:20rem;
-moz-columns:20rem;
columns:20rem;
gap:2rem;
-webkit-column-rule:dotted 2px var(--b3);
-moz-column-rule:dotted 2px var(--b3);
column-rule:dotted 2px var(--b3);
-webkit-column-fill:balance;
-moz-column-fill:balance;
column-fill:balance;
text-align:justify;
-webkit-hyphens:auto;
hyphens:auto;
}

.col p,.col2 p
{
max-width:40ch;
}

.col2 p:last-child
{
margin-bottom:0; /* odstranění u posledního odstavce (= i kdyby tam byl pouze jeden) margin-botttom, aby byl odstavec uprostřed ohraničeného boxu */
}

.col2
{
margin:1rem;
}



/* 720 px */
@media only screen and (min-width:45em)
{
.col,.col2
{
columns:2;
}}

/* 1200 px */
@media only screen and (min-width:75em)
{
.col
{
columns:3;
}}


.ul2
{
list-style-type:none;
}

.ul2 li
{
margin-bottom:1rem;
background:var(--b4);
font-size:1.5rem;
padding:1rem 1rem 0.75rem 1rem;
text-align:center;
font-weight:700;
border-left:4px solid var(--b5);
border-radius:0 16px 16px 0;
}


.g-p
{
display:grid;
grid-template-columns:1fr;
justify-items:center;
gap:2rem;
margin:1rem;
}

/* 750 px */
@media only screen and (min-width:47em)
{
.g-p
{
grid-template-columns:minmax(25ch,40ch) 10rem minmax(25ch,40ch);
gap:2.5vw;
}}

.s2
{
padding-bottom:2rem;
}

.cc
{
gap:1rem;
padding:1rem;
background:var(--b5);
}

.cc div:last-child
{
width:calc(4rem + 2vw);
height:calc(4rem + 2vw);
min-width:calc(4rem + 2vw);
min-height:calc(4rem + 2vw);
border:5px solid white;
border-radius:50%;
}

.cc p
{
color:white;
font-family:"nadpis",sans-serif;
font-size:calc(3rem + 2vw);
margin:0;
}

.n3
{
font-size:calc(2rem + 1vw);
font-weight:700;
margin:0 1rem;
}

.but,.but-m
{
text-align:right;
margin:1rem;
margin-bottom:3rem;
}

.but-m
{
margin-bottom:1rem;
}

.but a,.but-m a
{
display:-moz-inline-grid;
display:inline-grid;
place-items:center center;
background:white;
font-size:1.5rem;
font-weight:700;
border:1px dotted var(--b4);
padding:1rem;
padding-bottom:.75rem;
width:25rem;
max-width:100%;
text-align:center;
line-height:1.25;
border-radius:16px;
}

.but-m a,.butP a
{
grid-template-columns:auto 1fr;
font-size:1rem;
width:auto;
gap:1rem;
border-radius:16px;
}



.f125 a
{
font-size:1.25rem;
}

.bokem
{
gap:2rem;
padding:1rem;
background:var(--b5);
color:white;
}

.pata
{
padding:1rem;
background:var(--b5);
border-top:2px solid black;
color:white;
}

.pata p
{
margin-bottom:0;
}

address a
{
display:inline-block;
margin:.5rem;
padding:.5rem;
border:1px dotted var(--b4);
}


.bokem ul li
{
margin-bottom:1.5rem;
}

.bokem div a,.bokem li a,.pata address a
{
color:white;
}

.l1,.l2,.l4,.ico1,.ico2,.ico3,.ba
{
display:block;
background:url('../svg/ico-s.svg?=v2') no-repeat;
background-size:700%; /* každý obrázek + 100% - 7 svg = 700% */
height:0;
}

.l1,.l2,.l4
{
width:10rem;
min-width:10rem;
padding-bottom:10rem;
}


.ico1,.ico2,.ico3
{
width:3rem;
min-width:3rem;
padding-bottom:3rem;
}

.ico1
{
background-position:0 0;
}

.ico2
{
background-position:16.666% 0;
}

.ico3
{
background-position:33.333% 0;
}

.l1
{
background-position:49.999% 0;
}


.l2
{
background-position:66.665% 0;
}

.ba
{
background-position:83.331% 0;
}

.l4
{
/* logo projekt 4 - šifrovač */
background-position:100% 0;
}


.l3
{
/* logo v projekt 3 - Boar */
width:10rem;
height:auto;
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.b-s
{
gap:1rem;
-webkit-box-pack:space-evenly;
justify-content:space-evenly;
flex-wrap:wrap;
}

.b-s2
{
width:100%;
}

/* větší než Mobil L */
@media only screen and (min-width:27em)
{
.b-s2
{
width:20rem;
}}

.a-s
{
gap:1rem;
border:1px dotted var(--b4);
padding:.5rem;
width:100%;
}

.m0
{
margin:0;
}

.p05 a
{
padding:.5rem;
}

.fl
{
display:-webkit-box;
display:flex;
}

.jc
{
-webkit-box-pack:center;
justify-content:center;
}

.ac
{
-webkit-box-align:center;
align-items:center;
}

.co
{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
flex-direction:column;
}


.tc
{
text-align:center;
}

.ha
{
-webkit-hyphens:auto;
hyphens:auto;
text-align:justify;
}

.m4
{
max-width:40ch;
}

.fm
{
font-size:.8rem;
}

.f2
{
font-size:2rem;
}

.m1
{
margin:1rem;
}

.ib
{
display:inline-block;
}

.bg
{
background:url('../svg/poz.svg') space var(--b2) 0px 0px;
background-size:2rem auto;
}

.pt1
{
padding-top:1rem;
}
